<div class="content">
    <header class="head"><h2>Loan Payments Calculator</h2></header>
    
    <div class="form">
        Principal: $<input type="number" ng-value="5000" ng-model="loanData.principal" /><br/>
        APR: <input type="number" ng-value="9.5" ng-model="loanData.apr" /> %<br/>
        Monthly Payment: $<input type="number" ng-value="200" ng-model="loanData.payment" /><br/>
        <br/>
        <input type="button" ng-click="calculate(loanData)" value="Calculate" />
    </div>
    
    <payment-schedule loan="loan"></payment-schedule>
</div>




