<div class="content">
    <header class="head"><h2>Loan Payments Calculator</h2></header>
    
    <div class="form">
        Principal: $<input type="number" ng-value="5000" ng-model="loanData.principal" /><br/>
        APR: <input type="number" ng-value="9.5" ng-model="loanData.apr" /> %<br/>
        Monthly Payment: $<input type="number" ng-value="200" ng-model="loanData.payment" /><br/>
        <br/>
        <input type="button" ng-click="calculate(loanData)" value="Calculate" />
    </div>
    
    <div id="loan">
        <div class="paper" ng-if="loan != undefined">
            <br/>
            A loan with a principal of {{loan.principal | currency}} at {{loan.apr | percentage}} APR and monthly payments of {{loan.payment | currency}}
            will have {{loan.paymentSchedule.length}} monthly payments ({{loan.paymentSchedule.length / 12 | number:2}} years). {{loan.interest | currency}} will be paid in interest.<br/><br/>
            <table>
                <tr>
                    <th><br/></th>
                    <th>Payment</th>
                    <th>Principal Paid</th>
                    <th>Interest Paid</th>
                    <th>Remaining Principal</th>
                    <th>Remaining Interest</th>
                    <th>Remaining Balance</th>
                </tr>
                <tr ng-repeat="payment in loan.paymentSchedule">
                    <td>{{$index}}</td>
                    <td>{{payment.totalPayment | currency}}</td>
                    <td>{{payment.paidToPrincipal | currency}}</td>
                    <td>{{payment.paidToInterest | currency}}</td>
                    <td>{{payment.remainingPrincipal | currency}}</td>
                    <td>{{payment.remainingInterest | currency}}</td>
                    <td>{{payment.remainingValue | currency}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>




